body {
    background-color: #fbfbfb;
    font-family: 'Open Sans', sans-serif;
}

.container-fluid {
    width: 70%;
    margin: 0 auto;
}

#target-number, #tally, #wins, #losses {
    padding: 40px 20px;
}

#title {
    padding: 20px 0;
}

#crystals {
    padding: 60px 0;
}

.gem, #title, #target-number, #tally, #wins, #losses, #instructions h4 {
    text-align: center;
}

#instructions {
    line-height: 1.5em;
    font-size: 14px;
    margin-bottom: 40px;
}

.row {
    margin: 20px 0;
}

h1 {
    font-weight: 300;
    font-size: 32px;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

h4 {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding-bottom: 10px;
}

#random-number, #your-number, #wins-count, #losses-count {
    font-size: 48px;
}

#play-again {
    text-align: center;
    margin: auto;
}

#restart {
    height: 60px;
    width: 180px;
    font-size: 20px;
    border-radius: 5px;
}